8. Личен медицински картон. Да се проектира и реализира програма,
която да следи здравното състояние на потребителя. Да се
предостави възможност за отбелязване на историята на
посещенията при лекари и специалисти. Проверка за
необходимост и напомняне за профилактични прегледи. Справки
за честотата на изкараните заболявания и предстоящи прегледи. 